table {
  margin: 0;
}

.title {
  font-family: Roboto;
  font-size: 28px;
  color: rgb(97, 97, 97);
  font-weight: 500;
}

tr.element-hover:hover {
  background: rgb(231, 231, 231);
}

mat-card {
  border-radius: 10px;
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  box-sizing: border-box;
}
.noev {
  padding: 0;
  margin: 0;
}
mat-paginator {
  margin-top: 10px;
}

.textHeader {
  font-weight: bold;
  font-size: 14px;
}

.mat-column-action {
  text-align: center;
}

button.mat-icon-button:hover {
  background-color: rgb(153, 153, 153);
}

.toCenter {
  margin: 0 auto;
  display: block;
}

.btnYellow {
  background-color: #ffc107;
}
.btnYellow:hover {
  background-color: #d9a50b;
}
