<div class="container-fluid">
  <div class="m-2">
    <h1 style="font-family: 'Lucida Sans'">Edit Kelurahan</h1>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form (ngSubmit)="saveEditKelurahan()" [formGroup]="formValidasi">
        <mat-card
          [ngClass]="{ loading: isLoading }"
          class="mb-5 toCenter"
          style="width: 655px; height: 620px"
        >
          <div *ngIf="data">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>ID Kelurahan</mat-label>
              <input
                matInput
                formControlName="idKelurahan"
                name="idKelurahan"
                required
                appearance="outline"
                [(ngModel)]="idKelurahan"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kelurahan</mat-label>
              <input
                matInput
                formControlName="namaKelurahan"
                name="namaKelurahan"
                oninput="this.value = this.value.toUpperCase()"
                required
                appearance="outline"
                [(ngModel)]="namaKelurahan"
                maxlength="50"
              />
              <mat-error> Kelurahan tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kode Pos</mat-label>
              <input
                matInput
                formControlName="kodePos"
                name="kodePos"
                required
                appNumberOnly
                appearance="outline"
                [(ngModel)]="kodePos"
                maxlength="5"
              />
              <mat-error> Kode Pos tidak boleh kosong </mat-error>
              <mat-error> Input harus lebih dari 5 karakter </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              style="width: 100%"
              (click)="getDataKecamatan()"
            >
              <mat-label> Kecamatan</mat-label>
              <input
                matInput
                formControlName="namaKecamatan"
                name="namaKecamatan"
                required
                appearance="outline"
                [(ngModel)]="namaKecamatan"
              />
              <mat-icon matSuffix>search</mat-icon>
              <mat-error>Kecamatan tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Kabupaten/Kota</mat-label>
              <mat-select
                formControlName="selectIdKabupaten"
                name="selectIdKabupaten"
                [(ngModel)]="selectIdKabupaten"
                required
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataKabupaten"
                  [value]="element.cityId"
                  >{{ element.cityId + " - " + element.cityName }}</mat-option
                >
              </mat-select>
              <mat-error>Kabupaten/Kota tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Provinsi</mat-label>
              <mat-select
                formControlName="selectIdProvinsi"
                name="selectIdProvinsi"
                [(ngModel)]="selectIdProvinsi"
                required
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataProvinsi"
                  [value]="element.provinceId"
                  >{{
                    element.provinceId + " - " + element.provinceName
                  }}</mat-option
                >
              </mat-select>
              <mat-error>Provinsi tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Negara</mat-label>
              <mat-select
                formControlName="selectIdNegara"
                name="selectIdNegara"
                required
                [(ngModel)]="selectIdNegara"
              >
                <mat-option>None</mat-option>
                <mat-option
                  *ngFor="let element of dataNegara"
                  [value]="element.countryId"
                  >{{
                    element.countryId + " - " + element.countryNameIdn
                  }}</mat-option
                >
              </mat-select>
              <mat-error>Negara tidak boleh kosong </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="mx-3"
              (click)="saveEditKelurahan()"
            >
              Save
            </button>
            <button mat-raised-button routerLink="/wilayah-kelurahan/{{ nik }}">
              Cancel
            </button>
          </div>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
      </form>
    </div>
  </div>
</div>
