<div class="container-fluid">
  <div class="m-2">
    <h1 style="font-family: 'Lucida Sans'">Edit Negara</h1>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <form (ngSubmit)="saveEdit()" [formGroup]="formValidasi">
        <mat-card
          [ngClass]="{ loading: isLoading }"
          class="mb-5 toCenter"
          style="width: 40%; height: 172px"
        >
          <div *ngIf="data">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>ID Negara</mat-label>
              <input
                matInput
                formControlName="idNegara"
                name="idNegara"
                appAlfabetOnly
                oninput="this.value = this.value.toUpperCase()"
                [(ngModel)]="idNegara"
                required
                appearance="outline"
                maxlength="2"
              />

              <mat-error> ID Negara tidak boleh kosong </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%">
              <mat-label>Nama Negara</mat-label>
              <input
                matInput
                formControlName="namaNegara"
                name="namaNegara"
                appAlfabetOnly
                oninput="this.value = this.value.toUpperCase()"
                [(ngModel)]="namaNegara"
                required
                appearance="outline"
              />

              <mat-error>Nama Negara tidak boleh kosong</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="mx-3">Save</button>
            <button mat-raised-button routerLink="/wilayah-negara">
              Cancel
            </button>
          </div>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
      </form>
    </div>
  </div>
</div>
